<div class="container">
  <div class="container__content">
    <mat-card class="container__content__card">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam aspernatur atque blanditiis consequatur, deleniti deserunt dignissimos dolorem esse explicabo iste iure laborum libero, magnam minus nobis odio omnis perspiciatis provident quaerat quis quisquam, quod repellat rerum sapiente sed tempora vero. Cum ducimus earum eveniet inventore iusto veritatis? Aperiam atque dolorem eius et facilis ipsa, laboriosam laborum, neque nobis placeat quos repellat soluta, unde velit veritatis. Blanditiis corporis dolorum et odit omnis perferendis voluptates? Ab aspernatur ea et explicabo, facilis in ipsam nobis perferendis possimus quia? Alias asperiores autem cupiditate, dicta doloremque eaque iste omnis optio tempore ullam ut voluptatum?
    </mat-card>
  </div>
  <div class="container__form">
    <mat-card class="container__form__card">
      <mat-card-title class="container__form__card__title">
        Sign-Up
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="form">
          <div class="name-container">
            <mat-form-field appearance="outline" class="text-field-name">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName">
              <mat-error *ngIf="regForm['firstName']?.errors?.['required']" >
                Name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="text-field-name">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName">
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline" class="text-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="regForm['email']?.errors?.['required']">
              Email can not be empty
            </mat-error>
            <mat-error *ngIf="regForm['email']?.errors?.['email']">
              Enter valid email
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="text-field">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password">
            <mat-error *ngIf="regForm['password']?.errors?.['required']">
              Password can not be empty
            </mat-error>
            <mat-error *ngIf="regForm['password']?.errors?.['minlength']">
              Password must be greater than 6
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="text-field">
            <mat-label>Confirm password</mat-label>
            <input matInput formControlName="confirmPassword">
            <mat-error *ngIf="regForm['confirmPassword']?.errors?.['confirmedValidator']">
              Passwords must be match
            </mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions class="container__form__card__actions">
        <button
          mat-raised-button
          color="primary"
          [disabled]="isDisabled() || (loaderService.getLoader() | async)"
          (click)="registration()"
          class="action-button"
        >
          <span *ngIf="(loaderService.getLoader() | async) === false">Registration</span>
          <mat-spinner
            *ngIf="loaderService.getLoader() | async"
            style="margin: 0 auto"
            strokeWidth="2"
            diameter="25"
            color="secondary"
          ></mat-spinner>
        </button>
        <button
          mat-stroked-button
          color="primary"
          routerLink="/auth/login"
          class="action-button"
        >Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
