<h2 mat-dialog-title>Leave feedback</h2>
<mat-dialog-content>
  <mat-form-field class="title-form" appearance="outline">
    <mat-label>Title</mat-label>
    <input type="text" matInput>
  </mat-form-field>
  <h2>Rate the product:</h2>
  <div class="rating" #ratingContainer>
    <button
      *ngFor="let index of starId"
      mat-icon-button
      (mousedown)="setStar($event)"
      [attr.data-id]="index"
    >
      <mat-icon
        [class.star]="activeStarId >= index"
        [attr.data-id]="index"
      >{{ activeStarId >= index ? 'star' : 'star_outline'}}</mat-icon>
    </button>
  </div>

  <mat-form-field class="body-form" appearance="fill">
    <mat-label>Experience about this product</mat-label>
    <textarea
      cdkTextareaAutosize
      matInput
      cdkAutosizeMinRows="10"
    ></textarea>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
    color="error"
  >Close
  </button>
  <button
    mat-button
    color="success"
  >Add
  </button>
</mat-dialog-actions>
