:host {
  .title-form {
    width: 100%
  }
  .rating {
    display: flex;
    flex-direction: row;
    & mat-icon {
      font-size: 30px;
      width: 35px;
      text-align: center;
      color: rgba(0, 0, 0, .5)
    }
    & > h2 {
      margin: 0 10px 0 10px;
    }
  }
  .body-form {
    width: 100%;
    margin-top: 20px;
    height: 100px;
  }
  .star {
    color: #ffc400!important;
  }

  h2 {
    margin: 0
  }
}
