<div
  class="container"
>
  <div class="container__search">
    <input
      type="text"
      placeholder="Search"
      autocomplete="off"
      class="search-input mat-elevation-z4"
    >
    <button
      mat-icon-button
      class="search-button"
    >
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div
    class="container__filters"
    [formGroup]="form"
  >
    <mat-form-field
      appearance="outline"
      *ngFor="let tab of tabs"
    >
      <mat-label>{{ tab.title }}</mat-label>
      <mat-select
        multiple
        [formControlName]="tab.queryKey"
      >
        <mat-option
          *ngFor="let listItem of tab.list"
          [value]="listItem.params"
        >
          {{ listItem.listItemTitle }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    <button
      mat-raised-button
      color="primary"
      (click)="filter()"
    >
      Apply filters
    </button>
  <div class="container__chips">
    <div
      class="chip"
      *ngFor="let chip of chips"
    >
      {{ chip.charAt(0).toUpperCase() + chip.slice(1) }}
      <mat-icon
        (click)="deleteChip(chip)"
      >close</mat-icon>
    </div>
  </div>
  <div class="container__products">
    <app-catalog-product-card></app-catalog-product-card>
    <app-catalog-product-card></app-catalog-product-card>
    <app-catalog-product-card></app-catalog-product-card>
    <app-catalog-product-card></app-catalog-product-card>
    <app-catalog-product-card></app-catalog-product-card>
    <app-catalog-product-card></app-catalog-product-card>
    <app-catalog-product-card></app-catalog-product-card>
    <app-catalog-product-card></app-catalog-product-card>
    <app-catalog-product-card></app-catalog-product-card>
    <app-catalog-product-card></app-catalog-product-card>
    <app-catalog-product-card></app-catalog-product-card>
    <app-catalog-product-card></app-catalog-product-card>
    <app-catalog-product-card></app-catalog-product-card>
    <app-catalog-product-card></app-catalog-product-card>
    <app-catalog-product-card></app-catalog-product-card>
    <app-catalog-product-card></app-catalog-product-card>
    <app-catalog-product-card></app-catalog-product-card>
    <app-catalog-product-card></app-catalog-product-card>
  </div>
</div>
