<div class="container">
  <div class="container__content">
    <mat-card class="container__content__card">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam aspernatur atque blanditiis consequatur, deleniti deserunt dignissimos dolorem esse explicabo iste iure laborum libero, magnam minus nobis odio omnis perspiciatis provident quaerat quis quisquam, quod repellat rerum sapiente sed tempora vero. Cum ducimus earum eveniet inventore iusto veritatis? Aperiam atque dolorem eius et facilis ipsa, laboriosam laborum, neque nobis placeat quos repellat soluta, unde velit veritatis. Blanditiis corporis dolorum et odit omnis perferendis voluptates? Ab aspernatur ea et explicabo, facilis in ipsam nobis perferendis possimus quia? Alias asperiores autem cupiditate, dicta doloremque eaque iste omnis optio tempore ullam ut voluptatum?
    </mat-card>
  </div>
  <div class="container__form">
    <mat-card class="container__form__card">
      <mat-card-title class="container__form__card__title">
        Sign-In
      </mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="outline" class="text-field">
          <mat-label>Email</mat-label>
          <input [formControl]="email" matInput>
          <mat-error
            *ngIf="email.hasError('required') || email.hasError('email')"
          >
            {{
            email.hasError('required')  ?
            'You must enter a value' :
            'Not a valid email'
            }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="text-field">
          <mat-label>Password</mat-label>
          <input [formControl]="password" matInput>
          <mat-error *ngIf="password.invalid">Enter at least 6 characters!</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="container__form__card__actions">
        <button
          mat-raised-button
          color="primary"
          class="action-button"
          (click)="login()"
        >Login</button>
        <button
          mat-stroked-button
          color="primary"
          routerLink="/auth/registration"
          class="action-button"
        >Register</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
