<mat-toolbar color="primary" class="header">
  <button
    mat-icon-button
    (click)="openDrawer()"
    class="burger-btn"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div
    class="header__title"
    routerLink="/"
  >
    5Zvezd
    <mat-icon class="header__title__icon">star</mat-icon>
  </div>
  <span class="spacer"></span>
  <input
    type="text"
    class="header__search"
    placeholder="Search"
    autocomplete="off"
  >
  <button
    mat-raised-button
    mat-icon-button
    class="header__search-btn"
  >
    <mat-icon>search</mat-icon>
  </button>
  <span class="spacer"></span>
  <div class="header__items" *ngFor="let tab of tabs">
    <button mat-button [matMenuTriggerFor]="menu">{{tab.title}}</button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        [routerLink]="listItem.url"
        *ngFor="let listItem of tab.list"
      >
        {{listItem.listItemTitle}}
      </button>
    </mat-menu>
  </div>
  <button
    class="header__items"
    mat-icon-button
    *ngIf="!!tokenService.getToken()"
  >
    <mat-icon>person_circle</mat-icon>
  </button>
  <div class="header__divider header__items"></div>
  <div>
    <button
      class="header__items"
      mat-stroked-button
      routerLink="/auth/registration"
      *ngIf="!tokenService.getToken()"
    >
      Sign Up
    </button>
    <button
      class="header__items"
      mat-button
      routerLink="/auth/login"
      *ngIf="!tokenService.getToken()"
    >
      Sign In
    </button>
  </div>
</mat-toolbar>
