<mat-toolbar color="primary" class="header">
  <button
    mat-icon-button
    (click)="openDrawer()"
    class="burger-btn"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div
    class="header__title"
    routerLink="/"
  >
    5Zvezd
    <mat-icon class="header__title__icon">star</mat-icon>
  </div>
  <span class="spacer"></span>
  <div class="header__search">
    <input
      type="text"
      class="header__search__input mat-elevation-z2"
      placeholder="Search"
      autocomplete="off"
      *ngIf="!router.url.startsWith('/all')"
      [formControl]="searchInput"
      (keydown.enter)="search()"
    >
    <button
      mat-raised-button
      mat-icon-button
      class="header__search__btn"
      *ngIf="!router.url.startsWith('/all')"
      (click)="search()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <span class="spacer"></span>
  <div class="header__items" *ngFor="let tab of tabs">
    <button mat-button [matMenuTriggerFor]="menu">{{tab.title}}</button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        *ngFor="let listItem of tab.list"
        (click)="goToCatalog(tab.queryKey, listItem.params)"
      >
        {{listItem.listItemTitle}}
      </button>
    </mat-menu>
  </div>
  <button
    class="header__items"
    mat-icon-button
    [matMenuTriggerFor]="beforeMenu"
    *ngIf="!!tokenService.getToken()"
  >
    <mat-icon>person_circle</mat-icon>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <app-account-menu></app-account-menu>
  </mat-menu>
  <div class="header__divider header__items" *ngIf="!tokenService.getToken()"></div>
  <div>
    <button
      class="header__items"
      mat-stroked-button
      routerLink="/auth/registration"
      *ngIf="!tokenService.getToken()"
    >
      Sign Up
    </button>
    <button
      class="header__items"
      mat-button
      routerLink="/auth/login"
      *ngIf="!tokenService.getToken()"
    >
      Sign In
    </button>
  </div>
</mat-toolbar>
