<div class="review mat-elevation-z2">
  <div class="review__user-info">
    <div class="review__user-info__avatar">
      <img
        [src]="'data:' + userInfo?.img?.contentType + ';base64,' + userInfo?.img?.data"
        [alt]="comment.title"
        class="mat-elevation-z3"
        *ngIf="userInfo?.img?.data !== '' && userInfo?.img?.data"
      >
      <img
        src="../../../../assets/hiddenAvatar.png"
        alt=""
        *ngIf="!userInfo?.img"
      >
    </div>
    <div class="review__user-info__name">
      {{userInfo.firstName}} {{ userInfo.lastName }}
    </div>
  </div>
  <div class="review__data">
    <div class="review__data__title">
      {{comment.title}}
    </div>
    <div class="review__data__rating">
      <mat-icon
        *ngFor="let id of starId"
        [class.star]="id <= comment.rating"
      >{{id <= comment.rating ? 'star' : 'star_outline'}}</mat-icon>
    </div>
    <div class="review__data__body">
      {{comment.body}}
    </div>

    <div class="comment-owner" *ngIf="yourComment">
      <button mat-icon-button color="warning">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="error"
        (click)="deleteComment()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
