<div class="review mat-elevation-z2">
  <div class="review__user-info">
    <div class="review__user-info__avatar">
      <img
        src="https://images.unsplash.com/photo-1567653418876-5bb0e566e1c2?ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80"
        alt=""
        class="mat-elevation-z3"
      >
    </div>
    <div class="review__user-info__name">
      Abdulaziz Manopov
    </div>
  </div>
  <div class="review__data">
    <div class="review__data__title">
      Good product
    </div>
    <div class="review__data__rating">
      <mat-icon
        *ngFor="let id of starId"
        [class.star]="id <= index"
      >{{id <= index ? 'star' : 'star_outline'}}</mat-icon>
    </div>
    <div class="review__data__body">
      Lorem ipsum dolor sit amet, consectetur adipi fuga nostrum odio quas soluta tempora.
    </div>
  </div>
</div>
