<div class="review mat-elevation-z2">
  <div class="review__user-info">
    <div class="review__user-info__avatar">
      <img
        [src]="'data: ' + comment.userInfo[0].img.contentType + ';base64, ' + convertedBase64 | safeHtml"
        [alt]="comment.title"
        class="mat-elevation-z3"
        *ngIf="convertedBase64 !== ''"
      >
      <img
        src="../../../../assets/hiddenAvatar.png"
        alt=""
        *ngIf="convertedBase64 === ''"
      >
    </div>
    <div class="review__user-info__name">
      {{comment.userInfo[0]?.firstName}} {{comment.userInfo[0]?.lastName}}
      <ng-container
        *ngIf="!comment.userInfo[0]?.firstName && !comment.userInfo[0]?.lastName"
      >
        Name hidden
      </ng-container>
    </div>
  </div>
  <div class="review__data">
    <div class="review__data__title">
      {{comment.title}}
    </div>
    <div class="review__data__rating">
      <mat-icon
        *ngFor="let id of starId"
        [class.star]="id <= comment.rating"
      >{{id <= comment.rating ? 'star' : 'star_outline'}}</mat-icon>
    </div>
    <div class="review__data__body">
      {{comment.body}}
    </div>

    <div class="comment-owner" *ngIf="yourComment">
      <button mat-icon-button color="warning">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="error"
        (click)="deleteComment()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
