<div class="container">
  <div class="container__product">
    <div class="container__product__image">
      <!--<img
        [src]="product.imgUrl"
        [alt]="product.title"
      >-->
    </div>
    <div class="container__product__info" >
      <ng-container *ngIf="productService.product$ | async as product">
        <div class="container__product__info__title">
          {{product.title}}
        </div>
        <div class="container__product__info__links">
          <a
            [routerLink]="'/all'"
            [queryParams]="{category: product.category.toLowerCase()}"
          >
            {{product.category}}
          </a>,
          <a
            [routerLink]="'/all'"
            [queryParams]="{brand: product.company.toLowerCase()}"
          >
            {{product.company}}
          </a>
        </div>
        <div class="container__product__info__numbers">
          <div class="rating">
            Rating: {{product.averageRating}}
            <mat-icon>star</mat-icon>
          </div>
          <div class="cost">
            <ng-container *ngIf="product.minCost">
              Cost: {{product.minCost}} - {{product.maxCost}} $
            </ng-container>
            <ng-container *ngIf="!product.minCost">
              Cost is not defined
            </ng-container>
          </div>
        </div>
        <div class="container__product__info__description">
          {{product.description}}
        </div>
        product
        <ng-container *ngIf="product">
          saassas
        </ng-container>
      </ng-container>
      <div class="container__product__info__date">
        <!--{{product.createdAt | date: 'dd MMM, yyyy'}}-->
      </div>
    </div>
  </div>
  <div class="container__actions">
    <ng-container *ngIf="!tokenService.getToken()">
      <app-alert
        background="#f44336"
        borderColor="#f6746a"
      >
        <ng-container icon>error_outline</ng-container>
        <ng-container>To leave feedback you should sign in to the system</ng-container>
      </app-alert>
      <div class="container__actions__div">
        <button
          mat-stroked-button
          color="primary"
          routerLink="/auth/login"
        >Login</button>
      </div>
    </ng-container>
    <ng-container *ngIf="!!tokenService.getToken()">
      <app-alert
        background="#4cb050"
        borderColor="#4bc47d"
      >
        <ng-container icon>check_circle</ng-container>
        <ng-container>If you have experience with this item, please leave feedback to help to other people</ng-container>
      </app-alert>
      <div class="container__actions__div">
        <button
          mat-stroked-button
          color="success"
          (click)="openDialog()"
        >Add review</button>
      </div>
    </ng-container>
  </div>
  <div class="container__reviews">
    <div class="title">Reviews</div>
    <app-review *ngFor="let n of [1,2,3,4,5]"></app-review>
  </div>
</div>
