<!--suppress HtmlUnknownAnchorTarget -->
<div class="container">
  <div
    class="container__product"
    *ngIf="productService.product$ | async as product"
  >
    <div class="container__product__image">
      <img
        [src]="product.img"
        [alt]="product.title"
      >
    </div>
    <div class="container__product__info">
      <div>
        <div class="container__product__info__title">
          {{product.title}}
        </div>
        <div class="container__product__info__links">
          <a
            [routerLink]="'/all'"
            [queryParams]="{category: product.category.toLowerCase()}"
          >
            {{product.category}}
          </a>,
          <a
            [routerLink]="'/all'"
            [queryParams]="{brand: product.company.toLowerCase()}"
          >
            {{product.company}}
          </a>
        </div>
        <div class="container__product__info__numbers">
          <div class="rating">
            Rating: {{product.averageRating | number : '1.0-1'}}
            <mat-icon>star</mat-icon>
          </div>
          <div class="cost">
            <ng-container *ngIf="product.minCost">
              Cost: {{product.minCost}} {{(product.maxCost && product.maxCost !== product.minCost) ? (' - ' + product.maxCost) : ''}} $
            </ng-container>
            <ng-container *ngIf="!product.minCost">
              Cost is not defined
            </ng-container>
          </div>
        </div>
        <div class="container__product__info__description">
          {{product.description}}
        </div>
      </div>
      <div class="container__product__info__date">
        {{product.createdAt | date: 'dd MMM, yyyy'}}
      </div>
    </div>
  </div>
  <div class="container__reviews">
    <ng-container *ngIf="commentService.commentOwner$ | async as commentOwner">
      <app-review
        [comment]="commentOwner"
        [yourComment]="true"
      ></app-review>
    </ng-container>
  </div>
  <div
    class="container__actions"
    *ngIf="(loaderService.getLoader() | async) === false && !commentOwner"
  >
    <ng-container *ngIf="!tokenService.getToken()">
      <app-alert
        background="#f44336"
        borderColor="#f6746a"
      >
        <ng-container icon>error_outline</ng-container>
        <ng-container>To leave feedback you should sign in to the system</ng-container>
      </app-alert>
      <div class="container__actions__div">
        <button
          mat-stroked-button
          color="primary"
          routerLink="/auth/login"
        >Login
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="!!tokenService.getToken()">
      <app-alert
        background="#4cb050"
        borderColor="#4bc47d"
      >
        <ng-container icon>check_circle</ng-container>
        <ng-container>If you have experience with this item, please leave feedback to help to other people
        </ng-container>
      </app-alert>
      <div class="container__actions__div">
        <button
          mat-stroked-button
          color="success"
          (click)="openDialog()"
        >Add review
        </button>
      </div>
    </ng-container>
  </div>
  <mat-spinner
    class="spinner"
    strokeWidth="6"
    diameter="200"
    *ngIf="(loaderService.getLoader() | async) === true"
  ></mat-spinner>
  <div class="container__reviews" *ngIf="commentService.comment$ | async as comments">
    <div class="title" *ngIf="comments.length !== 0">
      <span *ngIf="loadAllReviews">Reviews</span>
      <span *ngIf="!loadAllReviews">Best review</span>
    </div>
    <ng-container>
      <app-review
        *ngFor="let comment of comments"
        [comment]="comment"
      ></app-review>
    </ng-container>
    <button
      mat-raised-button
      color="primary"
      (click)="loadReviews()"
      [disabled]="reviewLoader"
      *ngIf="!loadAllReviews"
    >
      <span *ngIf="!reviewLoader">Load all reviews</span>
      <mat-spinner
        strokeWidth="2"
        diameter="25"
        style="margin: 0 auto"
        *ngIf="reviewLoader"
      >

      </mat-spinner>
    </button>
    <div
      *ngIf="comments.length === 0 && loadAllReviews"
      class="no-reviews"
    >
      There is no reviews yet!
    </div>
  </div>
</div>
