<mat-card
  class="card"
  [class.mat-elevation-z7]="isHover"
  (mouseenter)="isHover = true"
  (mouseleave)="isHover = false"
>
  <img
    mat-card-image
    [src]="product.img"
    [alt]="product.title"
    class="img"
  >
  <mat-card-content>
    <mat-card-title class="title">
      {{ product.title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ product.company }}, {{ product.category }}
    </mat-card-subtitle>
    <div class="card__numbers">
      <div class="rating">
        Rating: {{ product.averageRating }}
        <mat-icon>star</mat-icon>
      </div>
      <div class="cost">
        Cost: {{product.minCost}} {{(product.maxCost && product.maxCost !== product.minCost) ? (' - ' + product.maxCost) : ''}} $
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-raised-button
      [routerLink]="'/product/' + product._id"
      color="primary"
    >More</button>
  </mat-card-actions>
</mat-card>
