<mat-card
  class="card"
  [class.mat-elevation-z7]="isHover"
  (mouseenter)="isHover = true"
  (mouseleave)="isHover = false"
>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  >
  <mat-card-content>
    <mat-card-title>
      Product
    </mat-card-title>
    <mat-card-subtitle>
      Nestle, Drinks
    </mat-card-subtitle>
    <div class="card__numbers">
      <div class="rating">
        Rating: 4.6
        <mat-icon>star</mat-icon>
      </div>
      <div class="cost">
        Cost: 1 - 3 $
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-raised-button
      color="primary"
    >More</button>
  </mat-card-actions>
</mat-card>
