<div class="carousel">
  <ng-container *ngFor="let slide of slides; let i = index">
    <img
      *ngIf="i === currentSlide"
      [src]="slide.imgSrc"
      class="slide"
      @carouselAnimation
      [alt]="slide.url"
    />
  </ng-container>

  <div class="carousel__title">
    Popular products
  </div>
  <div class="slide__information">
    <div>
      <div class="slide__information__rating">
        {{ slides[currentSlide].title }} -
        {{ slides[currentSlide].rating }}
        <mat-icon>star</mat-icon>
      </div>
      <div class="slide__information__mini-info">
        <a [routerLink]="'/brand/' + slides[currentSlide].brand.toLowerCase()">
          {{ slides[currentSlide].brand }}</a>,
        <a [routerLink]="'/category/' + slides[currentSlide].category.toLowerCase()">
          {{ slides[currentSlide].category }}
        </a>
      </div>
    </div>
    <div>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="'/product/' + slides[currentSlide].url"
      >More</button>
    </div>
  </div>
  <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button>
</div>
