<div class="carousel">
  <ng-container *ngFor="let slide of slides; let i = index">
    <img
      *ngIf="i === currentSlide"
      [src]="slide.img"
      class="slide"
      @carouselAnimation
      [alt]="slide.title"
    />
  </ng-container>

  <div class="carousel__title">
    Popular products
  </div>
  <div class="slide__information">
    <div>
      <div class="slide__information__rating">
        {{ activeSlide.title }} -
        {{ activeSlide.averageRating }}
        <mat-icon>star</mat-icon>
      </div>
      <div class="slide__information__mini-info">
        <a
          [routerLink]="'/all'"
          [queryParams]="{brand: activeSlide.company.toLowerCase()}"
        >
          {{ activeSlide.company }}
        </a>,
        <a
          [routerLink]="'/all'"
          [queryParams]="{category: activeSlide.category.toLowerCase()}"
        >
          {{ activeSlide.category }}
        </a>
      </div>
    </div>
    <div>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="'/product/' + activeSlide._id"
      >More</button>
    </div>
  </div>
  <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button>
</div>
