<app-carousel
  [slides]="data.getCarouselItems() | async"
></app-carousel>
<ng-container
  *ngIf="productService.popular$ | async as popular"
>
  <app-product-list
    title="Popular products"
    [data]="popular"
  ></app-product-list>
</ng-container>
<ng-container
  *ngIf="productService.recentlyAdded$ | async as recently"
>
  <app-product-list
    title="Recently added"
    [data]="recently"
  ></app-product-list>
</ng-container>
<ng-container
  *ngIf="productService.mostExpensive$ | async as mostExpensive"
>
  <app-product-list
    title="Most expensive"
    [data]="mostExpensive"
  ></app-product-list>
</ng-container>
<mat-spinner
  strokeWidth="4"
  diameter="100"
  style="margin: 10px auto"
  *ngIf="(loader.getLoader() | async)"
>
</mat-spinner>
