<div class="container">
  <div class="container__img-container">
    <img
      class="container__img-container__img"
      src="https://cdn2.iconfinder.com/data/icons/emoticon-outline-2/64/Sad-512.png" alt="star"
    >
  </div>
  <div class="container__text">
    <p class="text status">404</p>
    <p class="text header">Ooops! You weren't supposed to see this</p>
    <p class="text subheader">The page you're looking for no longer exists.</p>
    <button
      mat-raised-button
      color="primary"
      routerLink=""
    >Go back to home</button>
  </div>
</div>
