/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.error {
  background: #ff5252;
}
.success {
  background: #4caf50;
}
.warning {
  background: #fb8c00;
}

.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #4cb050;
}

.mat-icon-button.mat-warning {
  color: #fb8c00
}

.mat-button.mat-error,
.mat-stroked-button.mat-error,
.mat-icon-button.mat-error {
  color: #ff5252;
}

.panel-class {
  color: white;
}

.mat-simple-snackbar-action {
  color: white;
}
