<div class="container">
  <div class="container__header">
    <p class="container__header__title" *ngIf="!headerContent">{{ title }}</p>
    <ng-content select="headerContent"></ng-content>
    <div class="container__header__actions">
      <button
        mat-icon-button
        mat-raised-button
        color="primary"
        (click)="leftClick()"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button
        mat-icon-button
        mat-raised-button
        color="primary"
        (click)="rightClick()"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div
    #productList
    class="container__list"
    [style.transform]="'translateX(' + -transformCounter * 251 + 'px)'"
  >
    <ng-container *ngFor="let n of [1,2,3,4,5 ,6 ,7, 8, 9, 10,11,12]; let i = index">
        <ng-container
          *ngTemplateOutlet="productCardTemplate || productCard?.template || defaultCard, context: {$implicit: i, title: title}"
        >
        </ng-container>
    </ng-container>
  </div>
  <ng-content select="[footer]"></ng-content>
</div>

<ng-template #defaultCard>
  <app-product-card></app-product-card>
</ng-template>
