<div class="container">
  <div class="container__header">
    <h3 class="container__header__title">{{title}}</h3>
    <div class="container__header__actions">
      <button
        mat-icon-button
        mat-raised-button
        color="primary"
        (click)="leftClick()"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button
        mat-icon-button
        mat-raised-button
        color="primary"
        (click)="rightClick()"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div
    #productList
    class="container__list"
    [style.transform]="'translateX(' + transformValue + 'px)'"
  >
    <app-product-card
      *ngFor="let productCard of data"
      [product]="productCard"
    ></app-product-card>
  </div>
</div>
