<div [class]="['drawer', (drawerService.getDrawer() | async) && 'active']">
  <div class="account" *ngIf="!!tokenService.getToken()">
    <div
      class="account__avatar"
    >
      <img
        [src]="avatar"
        class="account__avatar__image"
        (click)="file.click()"
        [style.filter]="loader ? 'brightness(50%)' : 'brightness(100%)'"
        [alt]="tokenService.getUser().firstName"
      />
      <div class="add-photo" *ngIf="!loader">
        <mat-icon>photo_camera</mat-icon>
      </div>

      <mat-spinner
        *ngIf="loader"
        color="accent"
        class="spinner"
        strokeWidth="4"
        diameter="80"
      ></mat-spinner>
    </div>

    <input
      type="file"
      #file
      style="display: none"
      accept="image/*"
      (change)="changeAvatar($event)"
    >

    <div class="account__info">
      <div class=" mat-body-2">
        {{tokenService.getUser().firstName}} {{tokenService.getUser().lastName}}
      </div>
      <div class="mat-subheading-1">
        {{tokenService.getUser().email}}
      </div>
      <div class="account__info__actions">
        <button
          mat-icon-button
          (click)="openSettings()"
        >
          <mat-icon>settings</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="signOut()"
        >
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div
    class="sign-in-options"
    *ngIf="!tokenService.getToken()"
  >
    <button
      mat-stroked-button
      color="primary"
      routerLink="/auth/registration"
    >
      Sign Up
    </button>
    <button
      mat-raised-button
      color="primary"
      routerLink="/auth/login"
    >
      Sign In
    </button>
  </div>
  <div
    class="search"
    *ngIf="!router.url.startsWith('/all')"
  >
    <mat-form-field appearance="outline" class="search__form">
      <mat-label>Search</mat-label>
      <input
        type="text"
        autocomplete="off"
        matInput
        [formControl]="searchInput"
        (keydown.enter)="search()"
      >
      <button
        matSuffix
        mat-icon-button
        mat-stroked-button
        color="primary"
        style="margin-bottom: 14px"
        (click)="search()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div *ngFor="let tab of tabs">
    <mat-divider class="divider"></mat-divider>
    <app-drawer-list
      [tab]="tab"
    ></app-drawer-list>
  </div>
</div>
<div
  [class]="['overlay', (drawerService.getDrawer() | async) && 'active']"
  (click)="drawerService.setDrawer(false)"
></div>
