<div [class]="['drawer', (drawerService.getDrawer() | async) && 'active']">
  <div class="account" *ngIf="!!tokenService.getToken()">
    <div
      class="account__avatar"
    >
      <div
        [style.background-image]="'url(' + 'https://images.unsplash.com/photo-1567653418876-5bb0e566e1c2?ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80' + ')'"
        class="account__avatar__image"
        (click)="chooseAvatar()"
      >
        <div class="add-photo">
          <mat-icon>photo_camera</mat-icon>
        </div>
      </div>
    </div>

    <input type="file" #file style="display: none">

    <div class="account__info">
      <div class=" mat-body-2">
        Abdulaziz Manopov
      </div>
      <div class="mat-subheading-1">
        amanopov@exadel.com
      </div>
      <div class="account__info__actions">
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="signOut()"
        >
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div
    class="sign-in-options"
    *ngIf="!tokenService.getToken()"
  >
    <button
      mat-stroked-button
      color="primary"
      routerLink="/auth/registration"
    >
      Sign Up
    </button>
    <button
      mat-raised-button
      color="primary"
      routerLink="/auth/login"
    >
      Sign In
    </button>
  </div>
  <div class="search">
    <mat-form-field appearance="outline" class="search__form">
      <mat-label>Search</mat-label>
      <input type="text" autocomplete="off" matInput>
      <button
        matSuffix
        mat-icon-button
        mat-stroked-button
        color="primary"
        style="margin-bottom: 14px"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div *ngFor="let tab of tabs">
    <mat-divider class="divider"></mat-divider>
    <app-drawer-list
      [tab]="tab"
    ></app-drawer-list>
  </div>
</div>
<div
  [class]="['overlay', (drawerService.getDrawer() | async) && 'active']"
  (click)="drawerService.setDrawer(false)"
></div>
