<div [class]="['drawer', (drawerService.getDrawer() | async) && 'active']">
  <ng-container *ngIf="!!tokenService.getToken()">
    <app-account-menu></app-account-menu>
  </ng-container>
  <div
    class="sign-in-options"
    *ngIf="!tokenService.getToken()"
  >
    <button
      mat-stroked-button
      color="primary"
      routerLink="/auth/registration"
    >
      Sign Up
    </button>
    <button
      mat-raised-button
      color="primary"
      routerLink="/auth/login"
    >
      Sign In
    </button>
  </div>
  <div
    class="search"
    *ngIf="!router.url.startsWith('/all')"
  >
    <mat-form-field appearance="outline" class="search__form">
      <mat-label>Search</mat-label>
      <input
        type="text"
        autocomplete="off"
        matInput
        [formControl]="searchInput"
        (keydown.enter)="search()"
      >
      <button
        matSuffix
        mat-icon-button
        mat-stroked-button
        color="primary"
        style="margin-bottom: 14px"
        (click)="search()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div *ngFor="let tab of tabs">
    <mat-divider class="divider"></mat-divider>
    <app-drawer-list
      [tab]="tab"
    ></app-drawer-list>
  </div>
</div>
<div
  [class]="['overlay', (drawerService.getDrawer() | async) && 'active']"
  (click)="drawerService.setDrawer(false)"
></div>
